In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
print("Hello world")

Hello world

In [5]:
df_admission = pd.read_csv("Data/admission.csv")
df_admission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30217 entries, 0 to 30216
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MA_SO_SV         30217 non-null  object
 1   NAM_TUYENSINH    30217 non-null  int64
 2   PTXT             30217 non-null  object
 3   TOHOP_XT         30217 non-null  object
 4   DIEM_TRUNGTUYEN  30217 non-null  float64
 5   DIEM_CHUAN       30217 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 1.4+ MB

In [7]:
df_academic_records = pd.read_csv("Data/academic_records.csv")
df_academic_records.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105726 entries, 0 to 105725
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   MA_SO_SV      105726 non-null  object
 1   HOC_KY        105726 non-null  object
 2   CPA           105726 non-null  float64
 3   GPA           105726 non-null  float64
 4   TC_DANGKY     105726 non-null  int64
 5   TC_HOANTHANH  105726 non-null  int64
dtypes: float64(2), int64(2), object(2)
memory usage: 4.8+ MB

In [9]:
df_academic_records.describe()

                 CPA            GPA      TC_DANGKY   TC_HOANTHANH
count  105726.000000  105726.000000  105726.000000  105726.000000
mean        1.962662       2.290328      19.438492      15.609916
std         0.899984       0.479314       5.584857       6.610703
min         0.000000       0.000000       1.000000       0.000000
25%         1.360000       1.980000      17.000000      12.000000
50%         2.000000       2.250000      20.000000      16.000000
75%         2.600000       2.570000      22.000000      20.000000
max         4.080000       4.080000      71.000000      65.000000

In [21]:
df_academic_records[df_academic_records.duplicated()]

           MA_SO_SV         HOC_KY   CPA   GPA  TC_DANGKY  TC_HOANTHANH
58477  107daad1d5a6  HK1 2023-2024  1.48  2.07         20            15
58890  97b971d5af8b  HK1 2023-2024  2.01  2.16         20            17
59341  1e7a60a5ef34  HK1 2023-2024  2.04  2.36         20            20
62325  35ebae394206  HK1 2023-2024  0.00  1.48         15             0
62487  2f64c0fccda6  HK1 2023-2024  0.00  1.45         22             0
63762  0a4067375a58  HK1 2023-2024  0.65  1.99         20             6
65677  78e51033d6bf  HK1 2023-2024  0.87  1.20         17            11
65773  6eb69b0606b2  HK1 2023-2024  0.95  1.61         18            11
75782  e7ec2ca0158e  HK1 2023-2024  2.16  2.27         20            20
75840  a92ff5610cfd  HK1 2023-2024  2.48  2.32         20            20
75935  1acc5888bf2a  HK1 2023-2024  2.66  2.48         20            20
75972  de784ba8406e  HK1 2023-2024  2.71  2.52         20            20
76040  a1cae07fe068  HK1 2023-2024  2.60  2.69         20            20
76134  63e27c403ec8  HK1 2023-2024  3.00  2.79         20            20
76199  957348430e29  HK1 2023-2024  3.03  2.95         20            20
76207  19e63cd72e15  HK1 2023-2024  2.79  2.93         20            20
76228  bbe91ef12a1d  HK1 2023-2024  3.07  3.01         20            20
76497  857f32d4f611  HK1 2023-2024  2.79  2.95         22            20
77562  c72a56fcb5f0  HK1 2023-2024  2.74  2.60         22            22
77699  ce7e63dc8ba1  HK1 2023-2024  3.04  3.07         22            22
78234  a850ecfd6fea  HK1 2023-2024  1.96  2.38         26            23
78237  698a561aac8a  HK1 2023-2024  2.18  2.45         26            23
78548  6e065bc1b180  HK1 2023-2024  2.49  2.61         25            25
85877  e2a54120da39  HK1 2023-2024  1.03  1.69         22            14

In [13]:
df_full = df_academic_records.merge(df_admission, how="left", on="MA_SO_SV")
df_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105726 entries, 0 to 105725
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   MA_SO_SV         105726 non-null  object
 1   HOC_KY           105726 non-null  object
 2   CPA              105726 non-null  float64
 3   GPA              105726 non-null  float64
 4   TC_DANGKY        105726 non-null  int64
 5   TC_HOANTHANH     105726 non-null  int64
 6   NAM_TUYENSINH    105726 non-null  int64
 7   PTXT             105726 non-null  object
 8   TOHOP_XT         105726 non-null  object
 9   DIEM_TRUNGTUYEN  105726 non-null  float64
 10  DIEM_CHUAN       105726 non-null  float64
dtypes: float64(4), int64(3), object(4)
memory usage: 8.9+ MB

In [15]:
df_full.duplicated().sum()

24

In [15]:
full.head()

,MA_SO_SV,HOC_KY,CPA,GPA,TC_DANGKY,TC_HOANTHANH,NAM_TUYENSINH,PTXT,TOHOP_XT,DIEM_TRUNGTUYEN,DIEM_CHUAN
0,f022ed8d1ac1,HK2 2020-2021,2.19,2.02,18,18,2020,1,A00,23.96,21.72
1,f022ed8d1ac1,HK1 2022-2023,0.95,2.12,14,7,2020,1,A00,23.96,21.72
2,f022ed8d1ac1,HK1 2023-2024,0.81,1.89,29,16,2020,1,A00,23.96,21.72
3,f022ed8d1ac1,HK2 2022-2023,1.37,1.93,26,23,2020,1,A00,23.96,21.72
4,f022ed8d1ac1,HK2 2023-2024,1.71,1.91,16,13,2020,1,A00,23.96,21.72

In [33]:
df_full.drop_duplicates(keep = 'first', inplace= True)

In [35]:
df_full.info()

<class 'pandas.core.frame.DataFrame'>
Index: 105702 entries, 0 to 105725
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   MA_SO_SV         105702 non-null  object
 1   HOC_KY           105702 non-null  object
 2   CPA              105702 non-null  float64
 3   GPA              105702 non-null  float64
 4   TC_DANGKY        105702 non-null  int64
 5   TC_HOANTHANH     105702 non-null  int64
 6   NAM_TUYENSINH    105702 non-null  int64
 7   PTXT             105702 non-null  object
 8   TOHOP_XT         105702 non-null  object
 9   DIEM_TRUNGTUYEN  105702 non-null  float64
 10  DIEM_CHUAN       105702 non-null  float64
dtypes: float64(4), int64(3), object(4)
memory usage: 9.7+ MB