In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df_admission = pd.read_csv("Data/admission.csv")
df_admission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30217 entries, 0 to 30216
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MA_SO_SV         30217 non-null  object
 1   NAM_TUYENSINH    30217 non-null  int64
 2   PTXT             30217 non-null  object
 3   TOHOP_XT         30217 non-null  object
 4   DIEM_TRUNGTUYEN  30217 non-null  float64
 5   DIEM_CHUAN       30217 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 1.4+ MB

In [4]:
df_admission.duplicated().sum()

0

In [7]:
df_academic_records = pd.read_csv("Data/academic_records.csv")
df_academic_records.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105726 entries, 0 to 105725
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   MA_SO_SV      105726 non-null  object
 1   HOC_KY        105726 non-null  object
 2   CPA           105726 non-null  float64
 3   GPA           105726 non-null  float64
 4   TC_DANGKY     105726 non-null  int64
 5   TC_HOANTHANH  105726 non-null  int64
dtypes: float64(2), int64(2), object(2)
memory usage: 4.8+ MB

In [9]:
df_academic_records.describe()

                 CPA            GPA      TC_DANGKY   TC_HOANTHANH
count  105726.000000  105726.000000  105726.000000  105726.000000
mean        1.962662       2.290328      19.438492      15.609916
std         0.899984       0.479314       5.584857       6.610703
min         0.000000       0.000000       1.000000       0.000000
25%         1.360000       1.980000      17.000000      12.000000
50%         2.000000       2.250000      20.000000      16.000000
75%         2.600000       2.570000      22.000000      20.000000
max         4.080000       4.080000      71.000000      65.000000

In [11]:
df_full = df_academic_records.merge(df_admission, how="left", on="MA_SO_SV")
df_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105726 entries, 0 to 105725
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   MA_SO_SV         105726 non-null  object
 1   HOC_KY           105726 non-null  object
 2   CPA              105726 non-null  float64
 3   GPA              105726 non-null  float64
 4   TC_DANGKY        105726 non-null  int64
 5   TC_HOANTHANH     105726 non-null  int64
 6   NAM_TUYENSINH    105726 non-null  int64
 7   PTXT             105726 non-null  object
 8   TOHOP_XT         105726 non-null  object
 9   DIEM_TRUNGTUYEN  105726 non-null  float64
 10  DIEM_CHUAN       105726 non-null  float64
dtypes: float64(4), int64(3), object(4)
memory usage: 8.9+ MB

In [15]:
df_full.head()

,MA_SO_SV,HOC_KY,CPA,GPA,TC_DANGKY,TC_HOANTHANH,NAM_TUYENSINH,PTXT,TOHOP_XT,DIEM_TRUNGTUYEN,DIEM_CHUAN
0,f022ed8d1ac1,HK2 2020-2021,2.19,2.02,18,18,2020,1,A00,23.96,21.72
1,f022ed8d1ac1,HK1 2022-2023,0.95,2.12,14,7,2020,1,A00,23.96,21.72
2,f022ed8d1ac1,HK1 2023-2024,0.81,1.89,29,16,2020,1,A00,23.96,21.72
3,f022ed8d1ac1,HK2 2022-2023,1.37,1.93,26,23,2020,1,A00,23.96,21.72
4,f022ed8d1ac1,HK2 2023-2024,1.71,1.91,16,13,2020,1,A00,23.96,21.72

In [17]:
df_full.duplicated().sum()

24

In [19]:
df_full.drop_duplicates(keep = 'first', inplace= True)

In [21]:
df_full["TI_LE_HOAN_THANH"] =  df_full["TC_HOANTHANH"] / df_full["TC_DANGKY"]

In [23]:
def layNamHoc(x):
    return x.split(" ")[1].split("-")[0]
def layHocKi(x):
    return x.split(" ")[0][-1]

In [25]:

df_full["NAM_HOC"] = df_full["HOC_KY"].apply( lambda x : f"{layNamHoc(x)}").astype(int)
df_full["SO_HOC_KY"] = df_full["HOC_KY"].apply( lambda x : f"{layHocKi(x)}").astype(int)
df_full["SO_HOC_KY"] = (df_full["NAM_HOC"] - df_full["NAM_TUYENSINH"])*2  + df_full["SO_HOC_KY"]
df_full["KHOANG_CACH"] = df_full["DIEM_TRUNGTUYEN"] - df_full["DIEM_CHUAN"]

In [27]:
df_full.info()

<class 'pandas.core.frame.DataFrame'>
Index: 105702 entries, 0 to 105725
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   MA_SO_SV          105702 non-null  object
 1   HOC_KY            105702 non-null  object
 2   CPA               105702 non-null  float64
 3   GPA               105702 non-null  float64
 4   TC_DANGKY         105702 non-null  int64
 5   TC_HOANTHANH      105702 non-null  int64
 6   NAM_TUYENSINH     105702 non-null  int64
 7   PTXT              105702 non-null  object
 8   TOHOP_XT          105702 non-null  object
 9   DIEM_TRUNGTUYEN   105702 non-null  float64
 10  DIEM_CHUAN        105702 non-null  float64
 11  TI_LE_HOAN_THANH  105702 non-null  float64
 12  NAM_HOC           105702 non-null  int32
 13  SO_HOC_KY         105702 non-null  int64
 14  KHOANG_CACH       105702 non-null  float64
dtypes: float64(6), int32(1), int64(4), object(4)
memory usage: 12.5+ MB

In [29]:
df_full.head()

,MA_SO_SV,HOC_KY,CPA,GPA,TC_DANGKY,TC_HOANTHANH,NAM_TUYENSINH,PTXT,TOHOP_XT,DIEM_TRUNGTUYEN,DIEM_CHUAN,TI_LE_HOAN_THANH,NAM_HOC,SO_HOC_KY,KHOANG_CACH
0,f022ed8d1ac1,HK2 2020-2021,2.19,2.02,18,18,2020,1,A00,23.96,21.72,1.000000,2020,2,2.24
1,f022ed8d1ac1,HK1 2022-2023,0.95,2.12,14,7,2020,1,A00,23.96,21.72,0.500000,2022,5,2.24
2,f022ed8d1ac1,HK1 2023-2024,0.81,1.89,29,16,2020,1,A00,23.96,21.72,0.551724,2023,7,2.24
3,f022ed8d1ac1,HK2 2022-2023,1.37,1.93,26,23,2020,1,A00,23.96,21.72,0.884615,2022,6,2.24
4,f022ed8d1ac1,HK2 2023-2024,1.71,1.91,16,13,2020,1,A00,23.96,21.72,0.812500,2023,8,2.24

In [52]:
df_full[df_full["SO_HOC_KY"] ==  12]

,MA_SO_SV,HOC_KY,CPA,GPA,TC_DANGKY,TC_HOANTHANH,NAM_TUYENSINH,PTXT,TOHOP_XT,DIEM_TRUNGTUYEN,DIEM_CHUAN,TI_LE_HOAN_THANH,NAM_HOC,SO_HOC_KY,KHOANG_CACH
83,438aff5ef524,HK2 2023-2024,1.32,1.91,5,4,2018,1,A00,17.53,16.12,0.800000,2023,12,1.41
106,b87bd14ae979,HK2 2023-2024,0.00,1.96,1,0,2018,1,A00,18.93,17.67,0.000000,2023,12,1.26
121,db5d290e6a89,HK2 2023-2024,0.00,2.15,4,0,2018,1,A00,18.55,17.18,0.000000,2023,12,1.37
190,d81cda01a6a2,HK2 2023-2024,0.34,1.78,3,1,2018,1,A00,17.80,17.50,0.333333,2023,12,0.30
453,8da1a92c95bc,HK2 2023-2024,2.12,2.01,14,10,2018,1,A00,15.03,14.93,0.714286,2023,12,0.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61893,536bc3ee8913,HK2 2023-2024,2.84,2.49,16,16,2018,1,V02,23.50,18.85,1.000000,2023,12,4.65
61918,816d38353f15,HK2 2023-2024,2.17,2.29,17,16,2018,1,A00,17.27,15.76,0.941176,2023,12,1.51
61923,4a07ceac3b21,HK2 2023-2024,1.92,2.06,18,16,2018,1,A00,19.22,17.20,0.888889,2023,12,2.02
61939,ff89fdcc2465,HK2 2023-2024,1.54,1.97,19,16,2018,1,A00,18.61,17.01,0.842105,2023,12,1.60
61964,5769a5b859d7,HK2 2023-2024,1.43,2.11,21,16,2018,1,V00,19.87,19.27,0.761905,2023,12,0.60

In [58]:
df_full[df_full["MA_SO_SV"] ==  "438aff5ef524"].sort_values(by = "SO_HOC_KY")

,MA_SO_SV,HOC_KY,CPA,GPA,TC_DANGKY,TC_HOANTHANH,NAM_TUYENSINH,PTXT,TOHOP_XT,DIEM_TRUNGTUYEN,DIEM_CHUAN,TI_LE_HOAN_THANH,NAM_HOC,SO_HOC_KY,KHOANG_CACH
82,438aff5ef524,HK1 2020-2021,0.98,1.39,18,10,2018,1,A00,17.53,16.12,0.555556,2020,5,1.41
81,438aff5ef524,HK2 2020-2021,2.19,1.68,23,19,2018,1,A00,17.53,16.12,0.826087,2020,6,1.41
79,438aff5ef524,HK1 2021-2022,1.90,1.87,21,14,2018,1,A00,17.53,16.12,0.666667,2021,7,1.41
80,438aff5ef524,HK2 2021-2022,0.90,1.80,27,14,2018,1,A00,17.53,16.12,0.518519,2021,8,1.41
76,438aff5ef524,HK1 2022-2023,1.44,1.89,21,12,2018,1,A00,17.53,16.12,0.571429,2022,9,1.41
78,438aff5ef524,HK2 2022-2023,1.36,1.85,18,12,2018,1,A00,17.53,16.12,0.666667,2022,10,1.41
77,438aff5ef524,HK1 2023-2024,0.17,1.85,6,1,2018,1,A00,17.53,16.12,0.166667,2023,11,1.41
83,438aff5ef524,HK2 2023-2024,1.32,1.91,5,4,2018,1,A00,17.53,16.12,0.800000,2023,12,1.41

In [62]:
df_full["NAM_TUYENSINH"].value_counts().sort_index()

NAM_TUYENSINH
2018    16737
2019    21292
2020    24975
2021    21381
2022    14192
2023     7125
Name: count, dtype: int64

In [64]:
df_full.describe()

,CPA,GPA,TC_DANGKY,TC_HOANTHANH,NAM_TUYENSINH,DIEM_TRUNGTUYEN,DIEM_CHUAN,TI_LE_HOAN_THANH,NAM_HOC,SO_HOC_KY,KHOANG_CACH
count,105702.000000,105702.000000,105702.000000,105702.000000,105702.000000,105702.000000,105702.000000,105702.000000,105702.000000,105702.000000,105702.000000
mean,1.962646,2.290318,19.438204,15.609591,2020.154907,22.044500,20.020546,0.803579,2021.719636,4.614378,2.023955
std,0.899974,0.479302,5.585337,6.610654,1.468610,2.651235,2.963702,0.259950,1.076476,2.660478,1.792214
min,0.000000,0.000000,1.000000,0.000000,2018.000000,0.000000,0.000000,0.000000,2020.000000,1.000000,0.000000
25%,1.360000,1.980000,17.000000,12.000000,2019.000000,20.160000,17.570000,0.705882,2021.000000,2.000000,0.640000
50%,2.000000,2.250000,20.000000,16.000000,2020.000000,22.380000,19.800000,0.900000,2022.000000,4.000000,1.530000
75%,2.600000,2.570000,22.000000,20.000000,2021.000000,24.080000,22.200000,1.000000,2023.000000,6.000000,2.940000
max,4.080000,4.080000,71.000000,65.000000,2023.000000,59.060000,50.880000,1.000000,2023.000000,12.000000,10.900000

In [33]:
df_full[df_full["CPA"] >= 4]

,MA_SO_SV,HOC_KY,CPA,GPA,TC_DANGKY,TC_HOANTHANH,NAM_TUYENSINH,PTXT,TOHOP_XT,DIEM_TRUNGTUYEN,DIEM_CHUAN,TI_LE_HOAN_THANH,NAM_HOC,SO_HOC_KY,KHOANG_CACH
88,1816db0f103e,HK1 2023-2024,4.02,2.58,4,4,2019,1,A00,21.29,19.49,1.0,2023,9,1.80
224,edad3009462b,HK2 2023-2024,4.01,2.62,10,10,2019,1,A00,21.01,19.23,1.0,2023,10,1.78
456,5735151ddd42,HK1 2023-2024,4.04,2.87,4,4,2019,1,A00,23.67,19.36,1.0,2023,9,4.31
5524,c5c92f2c2eab,HK2 2021-2022,4.06,3.78,21,21,2019,1,A00,18.92,18.71,1.0,2021,6,0.21
8156,e840f858b56f,HK2 2022-2023,4.07,2.74,15,15,2019,1,A01,18.86,18.27,1.0,2022,8,0.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104587,ee58788a05a9,HK2 2022-2023,4.00,2.86,20,20,2018,1,A00,20.88,17.15,1.0,2022,10,3.73
104588,7bdf2629d390,HK2 2022-2023,4.00,2.86,20,20,2018,1,A00,21.73,17.73,1.0,2022,10,4.00
104601,5f7a1c3cd485,HK2 2022-2023,4.02,2.98,20,20,2018,1,A00,19.22,16.02,1.0,2022,10,3.20
104617,aa2ef4ec1d75,HK2 2022-2023,4.05,3.21,20,20,2018,1,A00,19.96,15.75,1.0,2022,10,4.21
104619,4e255a4d2329,HK2 2022-2023,4.03,3.20,20,20,2018,1,A00,20.98,16.66,1.0,2022,10,4.32